body {
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

.topOfPage {
  top: 0px;
  left: 0px;
  margin: 0px;
  width: 100%;
  font-size: 50px;
  background-color: salmon;
}

.salmonTitle {
  text-align: center;
  background-color: #A8B5BA;
  margin-bottom: 10px;
}

.salmonPhotos {
  margin: 0px;
  padding: 0px
}

.container {
  margin-left: 10%;
  margin-right: 10%;
}

#one{
  height: 224px;
  width: 224px;
}

#two {
  height: 50%;
  width: 50%;
}
#three {
 float: right;
 padding: 10px;
 height: 50%;
 width: 50%;
}
#four {
  height: 50%;
  width: 50%;
}
#five {
  height: 50%;
  width: 50%;
}
#six {
  height: 200px;
  width: 200px;
}
#seven {
  width: 100%;
}

td {
  padding: 10px;
  text-align: center;
}

.title {
  size: 100px;
}
